[build]
builder = "dockerfile"

[deploy]
healthcheckPath = "/api/health/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[env]
PYTHONPATH = "/app/wacebackend"
DJANGO_SETTINGS_MODULE = "wace_api.settings_production"